<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Chat | All Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Mini-Chat 💬</h1>
        <a href="/chats/new" class="btn btn-primary">➕ Start a New Chat</a>

        <ul class="chat-list">
            <% for(let chat of chats) { %>
                <li class="chat-item">
                    <div class="chat-content">
                        <p class="chat-message">
                            <%= chat.msg %>
                        </p>
                        <div class="chat-meta">
                            From: **<%= chat.from %>** | To: **<%= chat.to %>** | <%= chat.created_at.toDateString() %>
                        </div>
                    </div>
                    <div class="chat-actions">
                        <a href="/chats/<%= chat._id %>/edit" class="btn btn-secondary">✏️ Edit</a>

                        <button class="btn btn-delete" data-chatid="<%= chat._id %>">❌ Delete</button>
                    </div>
                </li>
                <% } %>
        </ul>

        <form id="delete-form" method="POST"></form>

    </div>
    <script src="/script.js"></script>
</body>

</html>